#include "app_resources.h"

#pragma code_page(65001)

IDI_APP_ICON ICON "..\\resources\\rustdesk_app.ico"
IDI_TRAY_ICON ICON "..\\resources\\rustdesk_tray.ico"
IDB_QS_LOGO RCDATA "..\\resources\\qslogo.png"
IDB_ICON_MORE_VERT RCDATA "..\\resources\\material_more_vert.png"
IDB_ICON_REFRESH RCDATA "..\\resources\\material_refresh.png"

1 VERSIONINFO
FILEVERSION 1,1,2,3
PRODUCTVERSION 1,1,2,3
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Terence0816"
            VALUE "FileDescription", "RustDesk QuickHost"
            VALUE "FileVersion", "1.1.2.3"
            VALUE "InternalName", "RustDeskQS.exe"
            VALUE "LegalCopyright", "Copyright (C) 2025-2026 Terence0816"
            VALUE "OriginalFilename", "RustDeskQS.exe"
            VALUE "ProductName", "RustDesk QuickHost for Windows XP/7/10/11 and WinPE"
            VALUE "ProductVersion", "1.1.2.3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
